body {
  background-color: rgba(0,0,0,0.1);
}

#header {
    width: 600px;
    height: 10px;
    position:absolute ;
    text-align: center;
    font-size: 10px;
    color: black; 
    top: 15px;


  }
/* styling paper */
#paper {
  width: 600px;
  height: 700px;
  position: relative;
  margin: 20px auto;
  padding-top: 70px;
  padding-bottom: 45px;
  background-color:  rgb(250, 250, 110);
  box-shadow: 0px 0px 5px 0px #888;
  top: px;
}

/* styling red vertical line */
#paper::before {
  content: ''; 
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 60px;
  background-color: rgba(255,0,0,0.6);
}
/*second redline */
#paper::after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 65px;
    background-color: rgba(255,0,0,0.6);
  }
  

/*  blue horizontal lines */
#pattern {
  height: 100%;
  background-image: repeating-linear-gradient( rgb(250, 250, 110) 0px,  rgb(250, 250, 110) 24px, teal 25px);
}

/* content and coloum areas */


#content {
  padding-top: 25px;
  padding-left: 75px;
  padding-right: 16px;
  line-height: 25px;
  font-size: 19px;

}

.plannerRow {
    height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
    line-height: 25px;
    padding-top: 0px;
    font-size: 15px;

  }

  .timeBox {
     width: 15%;
    font-size:20px;
    font: bold;
    position:absolute ;
    margin-left: 5px;
    margin-top: 25px;  
    margin-bottom: 0px;
    text-align: center;
    text-size-adjust:12px;
  }

  .col-md-1, .col-md-2, .col-md-9 {
    padding: 0px;
   }

  .dailyPlan {
    /* border: solid .1px black; */
    font-size: 20px;
    height:3%;
    width: 50%;
    padding-left: 20px;
    margin-top: 25px;
    margin-left: 110px;
    min-width: 50px; 
    max-width: 75%;
    position:relative;
        
   }

  input {
    background: transparent;
    padding-left: 1px;
    border: none;
     
  }
  .saveIcon {
    font-size: 1.5em;
    width: 20px;
    height: 20px; 
    text-align: center;
    margin-top: 26px;  
    margin-left: 425px;
    position: fixed; ;
  }